<!-- ベースとなるのHTML(extendsタグ用)  -->
<!-- CSSファイルをロードする必要がある(忘れがち、皆が使うものではないため) -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- ナビゲーションバーのincludeタグ -->
    {% include "_navbar.html" %}
    
    <!-- ブロックタグを作成 -->
     {% block main%}
     コンテンツがありません。
     {% endblock %}

    <!-- 画像の追加 -->
    <img src="{% static 'img/welcome.jpg' %}" />


    <!-- フッターのincludeタグ -->
    {% include "_footer.html" %}
</body>
</html>